.containerHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 24px 64px;
  background-color: var(--inputs);
  border-bottom: 1px solid var(--badges);
}

.menuList {
  display: flex;
  gap: 32px;
  margin-left: 0;
}

.active {
  color: var(--grey-green);
}
