.camperItem {
  border-radius: 16px;
  padding: 24px;
  display: flex;
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewsSection {
  margin-top: 32px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.Images {
  flex-shrink: 0;
  width: 638px;
}

.containerAmenitie {
  background-color: var(--inputs);
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  padding: 24px;
  width: 650px;
  height: max-content;
}

.amenitieList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.amenitieItem {
  border-radius: 100px;
  padding-block: 12px;
  padding-inline: 18px;
  width: max-content;
  height: 48px;
  background-color: var(--badges);
  mix-blend-mode: multiply;
}

.camperImage {
  border-radius: 16px;
}

.containerCamper {
  background-color: var(--inputs);
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  padding: 24px;
  width: 650px;
  height: 304px;
}

.camperTitle {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.camperRating {
  display: flex;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  gap: 4px;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  height: max-content;
  width: 525px;
  color: var(--text);
}

.containerCamperRating {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listCategory {
  display: flex;
  gap: 8px;
}

.price {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.amenitieTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.amenitieContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 602px;
}

.amenitieLine {
  border: 1px solid #dadde1;
}

.amenitieText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.detailList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
}

.ratingStar {
  color: var(--rating);
}

.reviewsTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.reviewList {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-top: 24px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  width: 623px;
  height: 180px;
  background-color: var(--inputs);
}

.reviewContent {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: var(--white);
  color: var(--grey-green);
  padding: 15px 21px 13px 21px;
}

.reviewComment {
  margin-top: 16px;
}

.reviewName {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bookingFormContainer {
  border: 1px solid #dadde1;
  border-radius: 16px;
  padding: 44px;
  width: 641px;
  height: max-content;
  margin-top: 56px;
}
