.loadingOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: grid;
  place-items: center;

  width: 100vw;
  height: 100dvh;

  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(1px);
}
